

@charset "UTF-8";

/*========= CSS RESET =======================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*============= End of CSS RESET ====================*/


/*=========== Site Wide Styles*/

#wrapper {
    display: none;
}

body {
    background: url("../media/images/backgrounds/straws.png") repeat;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1em;
    color: #470d00;
}

/*--------- Header ----------*/

header {
    width: 100%;
    height: 280px;
    background: url("../media/images/backgrounds/head_bkg.png") repeat-x bottom;
    position: relative;
    z-index: 1000;
}

/*--------- Navigation ----------*/

nav {
    width: 100%;
    height: 50px;
    background: url("../media/images/backgrounds/brown-stripes.gif") repeat;
    position: fixed;
}

nav ul {
    width: 600px;
    margin: 0 auto;
}

nav ul li {
    width: 200px;
    text-align: center;
    float: left;
}

nav ul li a {
    font-size: 1.5em;
    text-decoration: none;
    line-height: 2;
    color: #ffe78f;
}

/*----------- Branding ------------*/

h1 {
    width: 365px;
    height: 161px;
    margin: 72px 50px;
    float: left;
}

h2 {
    width: 340px;
    margin: 175px 0 0 100px;
    font-family: 'Chewy', Cursive;
    font-size: 1.875em;
    color: #9e001e;
    float: left;
    clear: right;
}

/*----------- CTA ------------*/

#cta {
    width: 100%;
    height: 400px;
    position: relative;
    top: -60px;
    background: url("../media/images/backgrounds/straws.png");
}

#slider {
    width: 1384px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    left: 0;
    opacity: 0;
}

#slider .slides {
    width: 5760px;
    height: 400px;
    display: block;
}

#slider .slide {
    width: 1440px;
    height: 400px;
    list-style-type: none;
    float: left;
}

#signup {
    width: 330px;
    height: 120px;
    background-color: rgba(71, 13, 0, 0.6);
    position: absolute;
    left: 280px;
    bottom: 0;
    opacity: 0;
}

#signup h3 {
    font-family: 'Chewy', Cursive;
    font-size: 1.875em;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#signup_btn {
    background: url("../media/images/signup_btn.png");
    width: 200px;
    height: 60px;
    border: none;
    margin: 5px 65px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
     border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#signup_btn:hover {
    border-radius: 20px;
}
/*--------- About Section ----------*/

#about {
    width: 960px;
    height: 400px;
    margin: 0 auto 120px auto;
    clear:both;
}

.aboutContent {
    width: 380px;
    height: 400px;
    background-color: #fff;
    border: 3px solid #eee;
    border-radius: 10px;
    margin: 50px 104px 0 0;
    padding: 20px;
    float: left;
    opacity: 0;
}

#about h4 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.2;
}

.aboutContent p {
    font-size: 1em;
    line-height: 1.2;
    padding: 10px 0;
    color: #666;
}

#about a {
    color: #9E001E;
}

.dataChart {
    width: 460px;
    height: 400px;
    background-color: #470d00;
    border: 3px solid #eee;
    border-radius: 10px;
    margin-top: 50px;
    float: left;
    opacity: 0;
}

.separator {
    clear: both;
    width: 100%;
    height: 50px;
    background: url("../media/images/backgrounds/separator.gif") repeat;
}


/*-------------- Image Gallery ------------*/

#imageGallery {
    width: 100%;
    height: 500px;
    opacity: 0;
}

#imageGallery h3 {
    font-family: 'Chewy', Cursive;
    font-size: 24px;
    color: #ffb000;
    text-align: center;
    margin: 80px auto 10px auto;
}

#imageGallery h3>a {
    color: #9e001e;
}

#gallery {
    width: 660px;
    height: 420px;
    background-color: #ffe78f;
    background-image: url("../media/images/backgrounds/screen.png");
    border-radius: 10px;
    margin: 10px auto;
    position: relative;
}

#gallery ul li {
    width: 150px;
    height: 150px;
    margin: 20px 0 0 85px;
    position: relative;
    opacity: 1;
    float: left;
}
#gallery img {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#gallery li:nth-of-type(1), #gallery li:nth-of-type(4) {
    margin-left: 20px;
}

#gallery li:nth-of-type(1), #gallery li:nth-of-type(2), #gallery li:nth-of-type(3) {
    margin-bottom: 50px;
}

#gallery p {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 200px;
    left: 0;
    text-align: center;
}

/*------------- Video -------------------*/

aside h4 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: Chewy, Cursive;
    color: #ffb000;
    margin: 50px 0 20px;
}

#pizzaVid {
    width: 400px;
    height: 225px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    left: 0;
    top: 10px;
    z-index: 50;
}

.separator2 {
    width: 100%;
    height: 50px;
    background: url("../media/images/backgrounds/separator.gif") repeat;
    position: relative;
    top: -125px;
}

/*--------- Map and Location info ---------*/

#locations {
    width: 960px;
    margin: 0 auto;
}

#map {
    width: 580px;
    height: 300px;
    background: #555;
    float: left;
    display: block;
}

/********** Animations ******************/

.rotate {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}



